<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Recording</title>
    <!-- <link href="style.css" rel="stylesheet" type="text/css"> -->
  </head>
  <body>

    <div class="wrapper">
      <section class="main-controls">
        <canvas class="visualizer" height="60px"></canvas>
        <div id="buttons">
          <button class="record">Record</button>
          <button class="stop">Stop</button>
        </div>
      </section>

      <section class="sound-clips">


      </section>

      <form id="audio-form" method="POST">
        <button type="submit" id="save-record">Submit</button>
      </form>

    </div>

    <script src="../static/js/record.js"></script>

  </body>
</html>
